<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>barcodegenerator</name>
	<displayName><![CDATA[Barcode Generator]]></displayName>
	<version><![CDATA[1.0.2]]></version>
	<description><![CDATA[A module to generate barcode]]></description>
	<author><![CDATA[cdigruttola]]></author>
	<tab><![CDATA[market_place]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
